<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Главная</title>
    <meta charset="UTF-8">
    <meta name="description" content="game 2048">
    <meta name="keywords" content="game 2048"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/normalize.css">
</head>