<body>
<div class="wrapper">
    <header>
        <div class="header__container">
            <div class="header__btns">
                <div class="header__btn header__btn-open">Open Fullscreen</div>
                <div class="header__btn header__btn-close">Close Fullscreen</div>
            </div>
            <div class="header__title">2048</div>
            <div class="header__score score-header">
                <div class="score-header__column">
                    <div class="score-header__title">Score</div>
                    <div class="score-header__number score-header__number-now">0</div>
                </div>
                <div class="score-header__column">
                    <div class="score-header__title">Best</div>
                    <div class="score-header__number score-header__number-best">0</div>
                </div>
            </div>
            <div class="new-game">New Game</div>
            <div class="result"></div>
            <form class="time">

                <span class="minutes">00</span>:<span class="seconds">00</span>
            </form>
        </div>
    </header>
    <main class="game">
        <div class="game__container">
            <div class="game__content">
                <div class="game__field field-game">
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer__container">
        </div>
    </footer>
</div>
<script src="/js/index.js"></script>
</body>